In [1]:
import pandas as pd
import pandasql as ps

In [12]:
df = pd.read_csv('dinkes_hipertensi.csv')
df2 = pd.read_csv('dinkes-od_15944_jml_kematian__jenis_penyebab_kematian_data.csv')
df3 = pd.read_excel('Prevalensi Tekanan Darah Tinggi Menurut Provinsi.xlsx')

In [13]:
df.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_hipertensi,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1313562,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,572865,ORANG,2019
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,910907,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,ORANG,2019

In [16]:
df = ps.sqldf('''
select nama_kabupaten_kota, jumlah_penderita_hipertensi, tahun from df
order by jumlah_penderita_hipertensi desc
''')
df

        nama_kabupaten_kota  jumlah_penderita_hipertensi  tahun
0           KABUPATEN BOGOR                      1624893   2020
1           KABUPATEN BOGOR                      1412925   2021
2           KABUPATEN BOGOR                      1313562   2019
3         KABUPATEN BANDUNG                      1306543   2020
4         KABUPATEN BANDUNG                      1306543   2021
..                      ...                          ...    ...
76  KABUPATEN BANDUNG BARAT                            0   2019
77    KABUPATEN PANGANDARAN                            0   2019
78             KOTA CIREBON                            0   2019
79         KOTA TASIKMALAYA                            0   2019
80  KABUPATEN BANDUNG BARAT                            0   2020

[81 rows x 3 columns]

In [21]:
ps.sqldf('''
select * from df

''')

        nama_kabupaten_kota  jumlah_penderita_hipertensi  tahun
0           KABUPATEN BOGOR                      1624893   2020
1           KABUPATEN BOGOR                      1412925   2021
2           KABUPATEN BOGOR                      1313562   2019
3         KABUPATEN BANDUNG                      1306543   2020
4         KABUPATEN BANDUNG                      1306543   2021
..                      ...                          ...    ...
76  KABUPATEN BANDUNG BARAT                            0   2019
77    KABUPATEN PANGANDARAN                            0   2019
78             KOTA CIREBON                            0   2019
79         KOTA TASIKMALAYA                            0   2019
80  KABUPATEN BANDUNG BARAT                            0   2020

[81 rows x 3 columns]

In [53]:
df2.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kematian,penyebab_kematian,jumlah_kematian,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,CAMPAK,0,JIWA,2017
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,DEMAM,0,JIWA,2017
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,DIARE,0,JIWA,2017
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,DIFTERI,0,JIWA,2017
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,LAIN-LAIN,7,JIWA,2017

In [49]:
# sorting berdasarkan tahun >=2019
df2 = ps.sqldf('''
select * from df2
group by tahun
''')
df2

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kematian,penyebab_kematian,jumlah_kematian,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,CAMPAK,0,JIWA,2017
1,703,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,CAMPAK,0,JIWA,2018
2,1405,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,CAMPAK,0,JIWA,2019

In [25]:
# sorting penyakit hipertensi
ps.sqldf('''
select * from df2 
where penyebab_kematian = "HIPERTENSI"
''')

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kematian,penyebab_kematian,jumlah_kematian,satuan,tahun
0,1414,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN IBU,HIPERTENSI,26,JIWA,2019
1,1440,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,KEMATIAN IBU,HIPERTENSI,11,JIWA,2019
2,1466,32,JAWA BARAT,3203,KABUPATEN CIANJUR,KEMATIAN IBU,HIPERTENSI,13,JIWA,2019
3,1492,32,JAWA BARAT,3204,KABUPATEN BANDUNG,KEMATIAN IBU,HIPERTENSI,10,JIWA,2019
4,1518,32,JAWA BARAT,3205,KABUPATEN GARUT,KEMATIAN IBU,HIPERTENSI,16,JIWA,2019
5,1544,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,KEMATIAN IBU,HIPERTENSI,12,JIWA,2019
6,1570,32,JAWA BARAT,3207,KABUPATEN CIAMIS,KEMATIAN IBU,HIPERTENSI,1,JIWA,2019
7,1596,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,KEMATIAN IBU,HIPERTENSI,7,JIWA,2019
8,1622,32,JAWA BARAT,3209,KABUPATEN CIREBON,KEMATIAN IBU,HIPERTENSI,15,JIWA,2019
9,1648,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,KEMATIAN IBU,HIPERTENSI,8,JIWA,2019
10,1674,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,KEMATIAN IBU,HIPERTENSI,3,JIWA,2019
11,1700,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,KEMATIAN IBU,HIPERTENSI,26,JIWA,2019
12,1726,32,JAWA BARAT,3213,KABUPATEN SUBANG,KEMATIAN IBU,HIPERTENSI,10,JIWA,2019
13,1752,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,KEMATIAN IBU,HIPERTENSI,4,JIWA,2019
14,1778,32,JAWA BARAT,3215,KABUPATEN KARAWANG,KEMATIAN IBU,HIPERTENSI,14,JIWA,2019
15,1804,32,JAWA BARAT,3216,KABUPATEN BEKASI,KEMATIAN IBU,HIPERTENSI,3,JIWA,2019
16,1830,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,KEMATIAN IBU,HIPERTENSI,7,JIWA,2019
17,1856,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,KEMATIAN IBU,HIPERTENSI,1,JIWA,2019
18,1882,32,JAWA BARAT,3271,KOTA BOGOR,KEMATIAN IBU,HIPERTENSI,1,JIWA,2019
19,1908,32,JAWA BARAT,3272,KOTA SUKABUMI,KEMATIAN IBU,HIPERTENSI,2,JIWA,2019
20,1934,32,JAWA BARAT,3273,KOTA BANDUNG,KEMATIAN IBU,HIPERTENSI,6,JIWA,2019
21,1960,32,JAWA BARAT,3274,KOTA CIREBON,KEMATIAN IBU,HIPERTENSI,1,JIWA,2019
22,1986,32,JAWA BARAT,3275,KOTA BEKASI,KEMATIAN IBU,HIPERTENSI,3,JIWA,2019
23,2012,32,JAWA BARAT,3276,KOTA DEPOK,KEMATIAN IBU,HIPERTENSI,10,JIWA,2019
24,2038,32,JAWA BARAT,3277,KOTA CIMAHI,KEMATIAN IBU,HIPERTENSI,4,JIWA,2019
25,2064,32,JAWA BARAT,3278,KOTA TASIKMALAYA,KEMATIAN IBU,HIPERTENSI,6,JIWA,2019
26,2090,32,JAWA BARAT,3279,KOTA BANJAR,KEMATIAN IBU,HIPERTENSI,0,JIWA,2019

In [43]:
ps.sqldf('''
select * from df2
group by penyebab_kematian
order by jumlah_kematian desc
''')

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kematian,penyebab_kematian,jumlah_kematian,satuan,tahun
0,1426,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAHIR MATI,BBLR,47,JIWA,2019
1,1417,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN IBU,PENDARAHAN,29,JIWA,2019
2,1414,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN IBU,HIPERTENSI,26,JIWA,2019
3,1425,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAHIR MATI,ASFIKSIA,24,JIWA,2019
4,1427,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAHIR MATI,KELAINAN,13,JIWA,2019
5,1406,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,DEMAM,4,JIWA,2019
6,1412,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN IBU,GANGGUAN DARAH,3,JIWA,2019
7,1429,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAHIR MATI,SEPSIS,2,JIWA,2019
8,1409,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,LAIN-LAIN,2,JIWA,2019
9,1415,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN IBU,INFEKSI,2,JIWA,2019
10,1424,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN POST-NEO,TETANUS,1,JIWA,2019
11,1419,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN POST-NEO,KELAINAN SARAF,1,JIWA,2019
12,1413,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN IBU,GANGGUAN METABOLIK,1,JIWA,2019
13,1423,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN POST-NEO,SALURAN CERNA,0,JIWA,2019
14,1411,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,PNEUMONIA,0,JIWA,2019
15,1410,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,MALARIA,0,JIWA,2019
16,1408,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,DIFTERI,0,JIWA,2019
17,1407,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,DIARE,0,JIWA,2019
18,1405,32,JAWA BARAT,3201,KABUPATEN BOGOR,KEMATIAN BALITA,CAMPAK,0,JIWA,2019

In [114]:
df3.head()

         Provinsi tahun_2013 tahun_2016  tahun_2018
0            ACEH       21.5          -        26.5
1  SUMATERA UTARA       24.7          -        29.2
2  SUMATERA BARAT       22.6          -        25.2
3            RIAU       20.9          -        29.1
4           JAMBI       24.6          -        29.0

In [116]:
df3 = ps.sqldf('''
select Provinsi, tahun_2018 from df3 
order by tahun_2018 desc
limit 5
''')
df3

             Provinsi  tahun_2018
0  KALIMANTAN SELATAN        44.1
1          JAWA BARAT        39.6
2    KALIMANTAN TIMUR        39.3
3         JAWA TENGAH        37.6
4    KALIMANTAN BARAT        37.0

In [117]:
df3.to_csv('prevalensi_bersih.csv', index=False)